.text-dark {
  color: #2c2553 !important;
}

.text-white {
  color: #ffffff !important;
}

.text-pink,
.active {
  color: #dd29a6 !important;
}

.text-yellow {
  color: #fad01c !important;
}

.text-grey {
  color: #999999 !important;
}

.text-purpleLight {
  color: #a884fc !important;
}

.bgPurple {
  background-color: #2c2553 !important;
}

.bgPurpleDark {
  background-color: #161337 !important;
}

.bgYellow {
  background-color: #fad01c !important;
}

.bgPink {
  background-color: #dd29a6 !important;
}

.bgPinkLight {
  background-color: #9e28bc !important;
}

.bgPurpleLight {
  background-color: #a884fc !important;
}
